<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>StudentManagement</display-name>
  <welcome-file-list>
    <welcome-file>queryByPage.java</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>student.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addServlet</display-name>
    <servlet-name>addServlet</servlet-name>
    <servlet-class>student.servlet.addServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addServlet</servlet-name>
    <url-pattern>/addServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteServlet</display-name>
    <servlet-name>deleteServlet</servlet-name>
    <servlet-class>student.servlet.deleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteServlet</servlet-name>
    <url-pattern>/deleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateServlet</display-name>
    <servlet-name>updateServlet</servlet-name>
    <servlet-class>student.servlet.updateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateServlet</servlet-name>
    <url-pattern>/updateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>queryBySnoServlet</display-name>
    <servlet-name>queryBySnoServlet</servlet-name>
    <servlet-class>student.servlet.queryBySnoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>queryBySnoServlet</servlet-name>
    <url-pattern>/queryBySnoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>queryMServlet</display-name>
    <servlet-name>queryMServlet</servlet-name>
    <servlet-class>student.servlet.queryMServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>queryMServlet</servlet-name>
    <url-pattern>/queryMServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>queryMajorByPage</display-name>
    <servlet-name>queryMajorByPage</servlet-name>
    <servlet-class>student.servlet.queryMajorByPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>queryMajorByPage</servlet-name>
    <url-pattern>/queryMajorByPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>queryBySnameServlet</display-name>
    <servlet-name>queryBySnameServlet</servlet-name>
    <servlet-class>student.servlet.queryBySnameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>queryBySnameServlet</servlet-name>
    <url-pattern>/queryBySnameServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>queryBySmajorServlet</display-name>
    <servlet-name>queryBySmajorServlet</servlet-name>
    <servlet-class>student.servlet.queryBySmajorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>queryBySmajorServlet</servlet-name>
    <url-pattern>/queryBySmajorServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>queryServlet</display-name>
    <servlet-name>queryServlet</servlet-name>
    <servlet-class>student.servlet.queryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>queryServlet</servlet-name>
    <url-pattern>/queryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>queryByPage</display-name>
    <servlet-name>queryByPage</servlet-name>
    <servlet-class>student.servlet.queryByPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>queryByPage</servlet-name>
    <url-pattern>/queryByPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>existServlet</display-name>
    <servlet-name>existServlet</servlet-name>
    <servlet-class>student.servlet.existServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>existServlet</servlet-name>
    <url-pattern>/existServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>queryPayByPage</display-name>
    <servlet-name>queryPayByPage</servlet-name>
    <servlet-class>student.servlet.queryPayByPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>queryPayByPage</servlet-name>
    <url-pattern>/queryPayByPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>queryPServlet</display-name>
    <servlet-name>queryPServlet</servlet-name>
    <servlet-class>student.servlet.queryPServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>queryPServlet</servlet-name>
    <url-pattern>/queryPServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>registerServlet</display-name>
    <servlet-name>registerServlet</servlet-name>
    <servlet-class>student.servlet.registerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registerServlet</servlet-name>
    <url-pattern>/registerServlet</url-pattern>
  </servlet-mapping>
 
</web-app>